/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


/* header */
.mobileVersion{
    display: none;
}
.header-container {
    max-width: 1300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding-top: 10px;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
}
.nav-li a {
    text-transform: uppercase;
    color: #343638;
    font-size: 11px;
    font-weight: bold;
    opacity: 50%;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.nav-li a:hover{
    opacity: 100%;
}
.active a{
    opacity: 100%;
}
.nav-li:nth-child(2){
    margin-left: 27px;
    margin-right: 22px;
}
.nav-li:nth-child(4){
    margin-left: 22px;
    margin-right: 40px;
}
.navImg_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo:hover,
.nav-image img:hover,
.nav-li:hover {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
/* section I */
.trending_block-Inner, .img_Block {
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 40px;
    margin: 0 auto;
}
.I_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    width: 100%;
    height: auto;
}
.I_block-A {
    background-image:url(../img/first-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 177px 100px 176px 140px;
}
.innerText{
    font-family: 'Helvetica';
    color: #ffff;
    width: 71%;
    height: auto;
}
.innerText h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.375rem;
}
.innerText h2::after {
    content: "";
    height: 2px;
    max-width: 560px;
    width: 100%;
    background-color: #ffff;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}
.innerText h3 {
    font-weight: bold;
    font-size: 1.375rem;
}
.innerText p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;
}
.innerText button {
    padding: 16px 30px;
    background-color: #FA6980;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.I_block-B {
    width: 40%;
    height: auto;
    padding: 100px 100px 100px 100px;
    background-color: #ffff;
}
.arrows_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: rgb(235, 227, 227) 1px solid;
}
.arr_box .fas {
    width: 6px;
    height: 10px;
}
.arrows_block h2, .arrows_blockI h2{
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-weight: bold;
}
.title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.travel h2,
.technology h2 {
    text-transform: uppercase;
    font-family: 'Helvetica';
    color: #FA6980;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
}
.travel h3,
.technology h3 {
    font-weight: bold;
    font-family: 'Helvetica';
    font-size: 1rem;
    margin-bottom: 10px;
}
.travel p
.technology p{
    font-family: 'Acumin Pro';
    font-size: 1rem;
    color: #A6ADB4;
    line-height: 26px;
}
.technology{
    margin-top: 40px;
}
.clock_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #CBD0D3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
}
.clock_box p {
    margin-left: 10px;
}  
/* treding block */
.trending_Box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.text_Info h4{
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
}
.text_Info p{
    font-size: 13px;
    color: #A6ADB4;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* img_block */
.img_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.big_img-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 40px;
}
.big_innerI{
    margin-bottom: 40px;
    background-image:url(../img/bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
    margin-bottom: 40px;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
}

.big_innerII{
    background-image: url(../img/forrest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
    color: white;
    padding: 40px;
}
.big_img-text  h4 {
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 232px;
}
.big_img-info h3{
    font-family: 'Helvetica';
    font-size: 24px;
    font-weight: bold;
}  
.big_img-info p{
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    width: 85%;
}
.small_img-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
}
.space{
    margin-top: 40px;
    margin-bottom: 40px;
}
.small_img-box img{
    width: 100%;
}
.text_Info h4{
    font-family: 'Acumin Pro';
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: auto;
}

/* footer block */
footer{
    background-color: #A6ADB4;
    margin-top: 75px;
    padding-bottom: 60px;
    padding-top: 54px;
}
.footer_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.footer_nav-block, .footer-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.footer-logo{
    margin-right: 60px;
}
.footer-space{
    margin-right: 44px;
    margin-left: 41px;
}
.footer-ul li a{
    color: #CBD0D3;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Helvetica';
    font-weight: bold;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.footer-ul li a:hover{
    color: #FA6980;
    opacity: 100%;
}
.footer-ul li {
    margin-bottom: 8px;
    cursor: pointer;
}

#email {
    width: 262px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: transparent;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
    opacity: 10%;
}
#email::-webkit-input-placeholder{ 
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
}
#email::-moz-placeholder{ 
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
}
#email:-ms-input-placeholder{ 
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
}
#email::-ms-input-placeholder{ 
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
}
#email::placeholder{ 
    color: #ffffff;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
}
.footer_email{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer_email form {
    position: relative;
}
.footer_email-btn{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 12px;
    right: 0;
    color: white;
}
.footer_email-text {
    font-family: 'Helvetica';
    font-size: 11px;
    color: #CBD0D3;
    margin-top: 14px;
}
.footer_soc-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 5px;
}
.fa-instagram, .fa-twitter, .fa-facebook-f{
    margin-right: 15px;
}
.fab-space{
    font-size: 11px;
    color: #CBD0D3;
}
/* news app */
.news_box-inner{
    margin-top: 42px;
}
.news-first-sec{
    padding-top: 40px;
    background-color: #F6F8F9;
}
.filter-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
}
.filter-story{
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 19px;
    font-family: 'Helvetica';
    font-size: 11px;
    font-weight: bold;
    color: rgb(12, 11, 11);
}
.filter-world{
    text-transform: uppercase;
    margin-left: 19px;
    font-family: 'Helvetica';
    font-size: 11px;
    color: #A6ADB4;
}
.news_bg-left {
    background-image: url(../img/newsImg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 580;
    width: 50%;
    padding: 155px 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
}
.news_bg-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.news_bg-left h2{
    text-transform: uppercase;
    font-size: 32px;
}
.news_bg-lefte p{
    font-size: 16px;
    margin-bottom: 40px;
}
.red-Box{
    height: 1px;
    width: 40px;
    background-color: #FA6980;
    margin-top: 20px;
    margin-bottom: 20px;
}
.news-right {
    max-width: 580;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
}
.right-inner {
    width: 70%;
}
.right-inner form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.right-inner form label {
    font-family: 'Acumin Pro';
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
.right-inner form input {
    border-style: solid;
    border-color: #EBEDED;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.right-inner form a {
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    padding: 16px 30px ;
    background-color: #FA6980;
    border-radius: 6px;
    width: 134px;
    text-align: center;
}
.text_box-inner{
    max-width: 1120px;
    width: 100%;
    height: auto;
    margin: 40px auto;
}
.three-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
}
.avatar_title {
    width: 31%;
}
.text_one, .text_two {
    width: 31%;
}
.avatar_title h3 {
    font-family: 'Acumin Pro';
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


.text_one p, .text_two p {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #A6ADB4;
    line-height: 26px;
}
.tect_two .clock_box {
    margin-top: 25px;
}
.elephant_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    margin: 0 auto;
}
.desktop-box{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 40px auto;
}
.desktop-box img{
    width: 100%;
    margin-top: 40px;
}
.eleph-text{
    width: 100%;
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 26px;
    color: #A6ADB4;
    margin-top: 40px;
}
.tablet-box{
    display: none;
}
.error-text{
    color: red;
    text-align: center;
}
#list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#list li{
    font-size: 18px;
    font-weight: bold;
}
.buttonapi{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 25px;
}

#previous {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    padding: 16px;
    background-color: #962135;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
#next{
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    padding: 16px;
    background-color: #0e11bb;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
/* responsive */

@media (max-width: 1270px) {
    .small_img-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 100%;
        margin-top: 40px;
    }
    .small_img-box img{
        width: 248px;
        height: 144px;
    }
    .space{
        margin-top: 0;
        margin-bottom: 0;
    }
    .big_img-text  h4{
        margin-bottom: 150px;
    }
}
@media (max-width:1120px){
   .I_block{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
   }
   .I_block-A{
        max-width: 1120px;
        width: 100%;
        padding: 79px;
   }
   .I_block-B {
    max-width: 1120px;
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: #ffff;
    }
    .title{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: horizontal;
       -webkit-box-direction: normal;
           -ms-flex-direction: row;
               flex-direction: row;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
   }
   .trending_Box:nth-child(2){
       margin-top: 5px;
       margin-bottom: 5px;
   }
   .technology{
       margin-top: 0;
       margin-left: 5px;
   }
   .arrows_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center; 
    margin-top: 10px;
   }
   .trending_Box{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;    
    }
    .trending_block-Inner, .img_Block-inner{
        padding: 40px;
    }
    .small_img-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
    }
    .space{
        margin-right: 10px;
        margin-left: 10px;
    }
    .big_img-text  h4{
        margin-bottom: 100px;
    }
    .footer_block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .news_bg-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .news_bg-left{
        width: 100%;
    }
    .news-right{
        width: 100%;
        margin-top: 60px;
    }
    .tablet-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .tablet-box p{
        font-weight: bold;
        font-family: 'Helvetica';
        font-size: 14px;
        line-height: 26px;
        color: #050505;
    }
    .page-counter{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .page-counter li{
        margin-right: 15px;
    }
    .number{
        color: black;
        font-weight: bold;
    }
}
@media (max-width:701px) {
    .hidden{
        display: none;
    }
    .three-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .text_one, .text_two{
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
    }
    .text_one p, .text_two p{
        text-align: center;
    }
    .clock_box.inner {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}
@media (max-width:668px) {
    /* mobile header */
    .mobileVersion{
        display: block;
    }
    .mobHeader{
        max-width: 668px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
    }
    .mobHeader.active_mob{
        display: none;
    }
    .fa-bars{
        padding: 10px 0 10px 16px;
    }
    .mob_log{
        padding-top: 10px;
        padding-bottom: 17px;
    }
    .mobile_box{
        display: none;
    }
    .mobile_box.mob-active{
        display: block;
        position: fixed;
        top: 0;
        z-index: 111;
        width: 70%;
    }
    .mobList ul{
        display: block;
        position: relative;
        top: 0;
        z-index: 10;
        background-color: white;
        height: auto;
        -webkit-box-shadow: -35px 0 194px 39px rgb(148, 142, 142);
                box-shadow: -35px 0 194px 39px rgb(148, 142, 142); 
       }
    .mobList ul li{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 38px;
        padding-left: 40px;
    }
    .mobList ul li:nth-child(6){
        padding-bottom: 139px;
    }
    .mobList ul li a{
        margin-left: 30px;
        opacity: 50%;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
    }
    .mobList ul li .fas{
        opacity: 50%;
    }
    .mobList ul li:hover{
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
    .nav-ul, .logo, .nav-image{
        display: none;
    }
    .footer_mobileOut{
        background-color: #BDBFC0;
        height: auto;
    }
    .footer_mobile{
        padding: 40px 58px 55px 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footerLists, .footerMob_icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer_ul li{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 29px 0;
    }
    .footer_ul li a{
        color: white;
        opacity: 50%;
        font-family: 'Helvetica';
        font-size: 11px;
        line-height: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .footerMob_icon a i{
        color: #ffff;
    }
    .footerMob_icon a i:nth-child(2),
    .footerMob_icon a i:nth-child(3),
    .footerMob_icon a i:nth-child(4) {
        margin-left: 24px;
    }
    .I_block-A{
        padding: 40px;
   }
   .innerText{
       height: auto;
   }
   .title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
    .technology{
        margin-top: 35px;
    }
    .footer_nav-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}